{% extends '_layouts/_body.njk' %}
{% set pagename = 'お問い合わせ｜' %}
{% set pagename_en = 'inquiry' %}
{% set description_txt = '' %}

{%- block contents -%}
  <section>
    
  </section>
{%- endblock -%}