@charset "UTF-8";
/* ブレイクポイントの初期設定 */
/* Mixin */
/* pxからemに変換 */
* { margin: 0; padding: 0; box-sizing: border-box; }

html, body { margin: 0; font-feature-settings: "palt" 1; -ms-overflow-style: none; }

html { -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

body { position: relative; width: 100%; height: 100%; color: #333333; letter-spacing: .05em; word-break: normal; }

h1, h2, h3, h4, h5, h6 { font-weight: 100; letter-spacing: .05em; }

article, aside, details, figcaption, figure, picture, footer, header, main, menu, nav, section, summary, address { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

ul, ol { display: inline-block; vertical-align: baseline; }

li { list-style: none; }

dt { font-weight: bold; }

dd { margin: 0; }

img { height: auto; max-width: 100%; color: #fff; width: auto; vertical-align: middle; border: 0; }

a { color: #333; outline: 0; border: none; -webkit-user-select: none; text-decoration: none; -webkit-text-decoration-skip: objects; text-decoration-skip: objects; }

b, strong, em { font-weight: bold; font-style: normal; }

small { font-size: 80%; }

table { width: 100%; border-collapse: collapse; border-spacing: 0; }

td, th { font-weight: normal; padding: 0; vertical-align: middle; }

svg:not(:root) { overflow: hidden; max-width: 100%; }

body { font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo,sans-serif; font-size: 16px; font-weight: 400; line-height: 1.8; }

a { display: block; font-size: 0; text-decoration: none; border: none; }

.globalFooter { padding: 0 20px; }

.globalFooter p { font-size: 14px; line-height: 1.5; font-weight: 500; color: #fff; }

.globalFooter small { font-size: 10px; line-height: 1.5; font-weight: 400; color: #fff; }

.globalHeader { padding: 0 20px; }

.globalHeader h1 { font-size: 20px; line-height: 2; letter-spacing: .04em; color: #fff; }

.split-text { overflow: hidden; }

.split-text span { transform: translateY(100%); display: inline-block; opacity: 0; }

.is-show .split-text span, .is-show.split-text span, .is-active .split-text span, .is-active.split-text span, .is-open .split-text span, .is-open.split-text span { transform: translateY(0); opacity: 1; transition: opacity .8s ease, transform .8s ease; }

@media (min-width: 48.0625em) { .vis-sp { display: none !important; } }

@media (max-width: 48em) { .vis-pc { display: none !important; } }
