@charset "UTF-8";

@mixin resp-fs-rem($size, $width) {
  font-size: ($size / $width) * 1rem;
}

@mixin resp-fs-em($size, $width) {
  font-size: ($size / $width) * 1em;
}

@mixin base-font {
  font-family: source-han-sans-japanese, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin noto-sans-cjk-jp {
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin noto-sans-cjk-jp-md {
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 500;
  font-style: normal;
}