<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="content-language" content="ja">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pagename }}{{ data.sitename }}</title>

  <meta name="description" content="{{ description }}">

  <meta property="og:type" content="website">
  <meta property="og:locale" content="ja_JP">
  <meta property="og:site_name" content="{{ data.sitename }}">
  <meta property="og:title" content="{{ pagename }}｜{{ data.sitename }}">
  <meta property="og:url" content="{{ data.site_url }}">
  <meta property="og:description" content="{{ data.description }}">
  <meta property="og:image" content="{{ data.site_url }}{{ data.img_path }}/{{ data.ogimg }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="{{ data.sitename }}">
  <meta name="twitter:title" content="{{ pagename }}｜{{ data.sitename }}">
  <meta name="twitter:description" content="{{ data.tw_description }}">

  <link rel="canonical" href="{{ data.site_url }}">