@charset "UTF-8";

@mixin bg-color-red {
  background-color: #d1001a;
}

@mixin bg-color-mdGray {
  background-color: #a7b6bc;
}

@mixin bg-color-gray {
  background-color: #f0f0f0;
}

@mixin bg-color-mdPink {
  background-color: #fbeaeb;
}

@mixin bg-color-white {
  background-color: #fff;
}

@mixin bg-color-black {
  background-color: #000;
}

@mixin bg-color-mdBlack {
  background-color: #323232;
}
