@charset "UTF-8";
.globalFooter {
  padding: 0 20px;
}

.globalFooter p {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: #fff;
}

.globalFooter small {
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
}
