{% extends '_layouts/_body.njk' %}
{% set pagename = '会社概要｜' %}
{% set pagename_en = 'company' %}
{% set description_txt = '会社概要のディスクリプション' %}

{%- block contents -%}
  {%- include '_parts/_mv.njk' -%}
{%- endblock -%}